<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>

<h1>全生徒</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>生徒名</th>
      <th>性別</th>
    </tr>
  </thead>
  
  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><%= student.id %></td>
      <td><%= student.family_name %></td>
      <td><%= student.gender_i18n %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h1>グループ分け</h1>
<table>
  <% @grouped_students.each_with_index do |group, index| %>
  <thead>
    <tr>
      <th>Group <%= index + 1 %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>  
    <% group.each do |student| %>
  <tbody>
    <tr>
      <td><%= student.id %></td>
      <td><%= student.family_name %></td>
      <td><%= student.gender_i18n %></td>
    </tr>
  </tbody>
    <% end %>
  <% end %>
</table>